/* Fonts Collection */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Variables */

:root {

    --btnColors: #E76F51;
}

/* Utilities and Common Classes */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Lato', sans-serif;
}

.container {

    width: 80%;
}




/* Header Section */

header {

    background: #264653;
}

/* Navbar Section */


.nav-link {

    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.76) !important;
}

.login-btn {

    background: var(--btnColors);
    color: white;
    border-radius: 5px;
}


/* Top Banner Section */

.top-banner {

    color: rgb(231, 230, 230);
}

.banner-info p {

    font-size: 1rem;   
}

.banner-info h1 {

    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(255, 255, 0, 0.767);
}

.purchase-btn {

    font-weight: 600;
    letter-spacing: 3px;
}



/* Featured Bike Section Styles */

.section-title {

    font-size: 2.75rem;
    font-weight: 600;
}

.section-subtitle {

    font-size: 1.5rem;
    font-weight: 600;
}

.section-subtitle::after {

    content: '';
    width: 10%;
    height: 5px;
    display: block;
    background: var(--btnColors);
    position: absolute;
    left: 45%;
    border-radius: 20px;
    margin-top: 5px;
}

.grayScaled {

    filter: grayscale(100%);
}

.otherScaled {

    filter: hue-rotate(90deg);
}


/* Latest News Section Styles */

.latest-news .section-title::after {

    content: '';
    width: 10%;
    background: var(--btnColors);
    height: 5px;
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 5px;
    border-radius: 20px;
}

.news-card-link {

    background: var(--btnColors);
    color: white;
}

.news-box .card-title {

    font-weight: 600;
}



/* Reviews Section Styling */


.section-title span {

    background-image: linear-gradient(to right, red, rgb(255, 153, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-section .section-title::after {

    content: '';
    width: 10%;
    background: var(--btnColors);
    height: 5px;
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 5px;
    border-radius: 20px;
}

.review-rating i {

    color: goldenrod;
}

.review-rating .empty {

    color: #999;
}



/* FAQ SECTION STYLES */

.faq-section .section-title::after {

    content: '';
    width: 10%;
    background: var(--btnColors);
    height: 5px;
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 5px;
    border-radius: 20px;
}



/* Brand Collaboration Section Title */

.brand-promotion .section-title::after {

    content: '';
    width: 10%;
    background: var(--btnColors);
    height: 5px;
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 5px;
    border-radius: 20px;
}


/* Navtabs Styles */

.nav-tablets .section-title::after {

    content: '';
    width: 10%;
    background: var(--btnColors);
    height: 5px;
    display: block;
    position: absolute;
    left: 45%;
    margin-top: 5px;
    border-radius: 20px;
}



.socials a {

    margin: 0 2%;
    padding: 2% 3%;
    background: goldenrod;
    text-decoration: none;
    color: white;
}

.socials a:first-child {

    background: rgba(0, 10, 146, 0.767);
}

.socials a:nth-child(2) {

    background: #00acee;
}

.socials a:nth-child(3) {

    background: #c8232c;
}

.socials a:last-child {

    background: #f7027c;
}





/* Media Query */

@media (max-width: 575px) {

    html {

        font-size: 60%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    html {

        font-size: 75%;
    }
}

@media (min-width:768px) and (max-width:991px) {

    html {

        font-size: 80%
    }
}